
    <div>
      <a href="/">Home</a>
      <!-- if no user logged-in, display signup and login links -->
      <% @user = User.find_by({"id" => session["user_id"]})%>
      <%if session["user_id"] == nil %>
    </div>
    <div align="right">
      <a href="/login">Login</a>
      |
      <a href="/users/new">Signup</a>
    <%else%>
      Logged in as: <%= @user["first_name"]%>
      |
      <a href="/logout">Logout</a>
      <%end%>
    </div>


    
<ul>
  <% for place in @places %>
    <li>
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </li>
  <% end %>
</ul>



  <button>
    <a href="/entries/new?place_id=<%= @places["id"] %>">New Post</a>
  </button>

  <h2>My experiences in <%=@places["name"]%></h2>
<% for entry in @entries %>
  <h3><%= entry["title"] %></h3>
  <h4><%= entry["occurred_on"] %></h4>
  <p><%= entry["description"] %></p>
<% end %>

