<h1>My experiences in <%= @places["name"] %></h1>

<br>

<p>
  <a class="btn btn-primary" href="/entries/new?place_id=<%= @places["id"] %>">New Post</a>
</p>

<br>

<div class="container text-left">
  <div class="row g-4">
   <% for entry in @entries %>
      <div class="col">
        <div class="container">
          <div class="card" style="width: 18rem;">
<!--             <img src="..." class="card-img-top" alt="...">-->
            <div class="card-body">
              <h5 class="card-title"><%= entry["title"] %></h5>
              <h6 class="card-title"><%= entry["occurred_on"] %></h5>
              <% if entry.uploaded_image.attached? %>
                <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
              <% else %>
              <% end %>
              <p class="card-text"><%= entry["description"] %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<p>
  <a class="btn btn-secondary" href="/places">Back to All Places</a>
</p>